*{
    padding: 0;
    margin: 0;
}
.clear{
    clear: both;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.page1{
    background: url("../img/7.jpg") no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.page1 img:nth-child(2){
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 1.5rem;
    left: 2rem;
}
.page1 p{
    font-size: 1rem;
    text-align: center;
    margin-top: 2.5rem;
    color: deepskyblue;
}
.page1 h2{
    font-size: 1rem;
    text-align: center;
    color: hotpink;
}
.page1 .zhao{
    width: 4.2rem;
    height: 4.2rem;
    margin-left: 1.5rem;
}
.page2{
    /*background: url("../img/bot2.gif") no-repeat;*/
    background: url("../img/7.jpg") no-repeat;
    background-size: 100% 100%;
}
.page2 img{
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    top: 0.1rem;
    left: 3.5rem;
}
.page2 .zhao{
    margin-top: 1rem;
    margin-left: 1rem;
}
.page2 p{
    font-size: 0.5rem;
    margin-top: 0.3rem;
    color: black;
    font-weight: bold;
    font-style: italic;
}
.page2 h2{
    font-size: 1.5rem;
    color: orange;
    font-style:italic;
    margin-top: 0.5rem;
}
.page3{
    /*background: url("../img/box2.jpg");*/
    background: url("../img/7.jpg") no-repeat;

}
.page3 h2{
    color: plum;
    text-align: center;
    font-size: 0.5rem;
    margin-top: 0.2rem;
    font-style: italic;
    margin-bottom: 0.3rem;
}
.page3 h2 span{
    color: blue;
    font-size: 0.5rem;
}
.page3 p{
    color: deeppink;
    font-size: 0.6rem;
    margin-left: 0.2rem;
}
.page3>span{
    color: deepskyblue;
    font-size: 0.4rem;
    margin-left: 0.4rem;
    z-index:9;
}
.page3 img{
    width: 3.2rem;
    height: 3rem;
    position: absolute;
    bottom: 2rem;
    right: 1rem;
    z-index:-9;
}
.page4{
    /*background: url("../img/bot1.gif") no-repeat;*/
    background: url("../img/7.jpg") no-repeat;
    width: 100%;
}
.page4 h2{
    color: pink;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    margin: 0.1rem 0;
}
.page4 a{
    color: white;
    font-size: 0.2rem;
    position: absolute;
    top: 4.5rem;
    left: 0.7rem;
}
.page4 .zx{
    color: black;
    font-size: 0.3rem;
    position: absolute;
    top: 4.5rem;
    left: 4.5rem;
}
.page4 .zc{
    color: black;
    font-size: 0.3rem;
    position: absolute;
    top: 9rem;
    left: 0.7rem;
}
.page4 .xu{
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.2rem 0.2rem;
}
.page4 a{
    cursor: pointer;
    color: black;
}
.page4 .as{
    color: black;
    font-size: 0.3rem;
    position: absolute;
    top: 9rem;
    left: 4.5rem;
}
.page4 img{
    width: 6rem;
    margin: 0.1rem 0.1rem;
    border-radius: 0.5rem;
}
.page5{
    background: url("../img/7.jpg") no-repeat;
    background-size: 100% 100%;

}
.page5 h2{
    color: deeppink;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    margin-top: 0.1rem;
}
.page5{
    color: black;
    font-size: 0.5rem;
}
.page5 h4{
    color:deeppink;
    font-size: 0.4rem;
    margin-top: 0.3rem;
    text-align: center;
}




.yinyue{
    background: url("../img/music.png") no-repeat;
    background-size: 0.66rem 0.66rem;
    width: 0.66rem;
    height: 0.66rem;
    position: fixed;
    right: 0.3rem;
    top: 0.3rem;
    z-index: 99999;
}
